<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Gallery</title>
    <style>
        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Wyśrodkowanie zdjęć */
            max-width: 70%; 
            margin: 80px auto 0; /* Odstęp na górze */
        }

        .image {
            margin: 10px;
            
        }

        .image img {
            width: 100%; /* Obrazy zajmują całą dostępną przestrzeń */
            height: auto; /* Zachowanie proporcji */
        }
    </style>
</head>
<body>
    <header>
        <div class="header">
            <h2>Zdjecia - Szwajcaria 2024</h2>
            </div>
    </header>
    

   

    <main>
       
            <div class="pasek">
        <button>
            <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                    Prześlij zdjęca
                </label>
                <input id="file-upload" type="file" name="file" multiple accept=".jpg, .jpeg, .png, .gif" onchange="confirmUpload()">
            </form>
        </button>
        
        <button onclick="downloadFiles()">Pobierz wszystkie pliki jako ZIP</button>
        <script>
            function submitForm() {
                document.getElementById("upload-form").submit();
            }
    
            function confirmUpload() {
                if (confirm("Czy na pewno chcesz przesłać te pliki?")) {
                    submitForm();
                } else {
                    document.getElementById("file-upload").value = "";
                }
            }
    
            function downloadFiles() {
                window.location.href = "/download";
            }
            function galeria(){
                window.location.href = "/galeria";
            }
        </script>
        <br>
        </div>
        <div style="height: 100px;"></div> <!-- Lub dostosuj wysokość według potrzeb -->
    <div class="gallery">
        {% for image in images %}
            <div class="image">
                <a href="/images/{{ image }}" download>
                    <img src="/images/{{ image }}" alt="{{ image }}">
                </a>
            </div>
        {% endfor %}
    </div>
</main>
</body>
</html>